In [10]:
import pandas as pd

epl_2010_11_df = pd.read_csv("epl1011leaguetable.csv")
epl_2011_12_df = pd.read_csv("epl1112leaguetable.csv")
epl_2012_13_df = pd.read_csv("epl1213leaguetable.csv")
epl_2013_14_df = pd.read_csv("epl1314leaguetable.csv")
epl_2014_15_df = pd.read_csv("epl1415leaguetable.csv")
epl_2015_16_df = pd.read_csv("epl1516leaguetable.csv")
epl_2016_17_df = pd.read_csv("epl1617leaguetable.csv")
epl_2017_18_df = pd.read_csv("epl1718leaguetable.csv")
epl_2018_19_df = pd.read_csv("epl1819leaguetable.csv")
epl_2019_20_df = pd.read_csv("epl1920leaguetable.csv")

epl_2010_11_df

,Position,Club,Matches,Wins,Draws,Losses,GoalsScored,GoalsConceded,GoalDiff,Points
0,1,Man United,38,23,11,4,78,37,41,80
1,2,Chelsea,38,21,8,9,69,33,36,71
2,3,Man City,38,21,8,9,60,33,27,71
3,4,Arsenal,38,19,11,8,72,43,29,68
4,5,Tottenham,38,16,14,8,55,46,9,62
5,6,Liverpool,38,17,7,14,59,44,15,58
6,7,Everton,38,13,15,10,51,45,6,54
7,8,Fulham,38,11,16,11,49,43,6,49
8,9,Aston Villa,38,12,12,14,48,59,-11,48
9,10,Sunderland,38,12,11,15,45,56,-11,47
10,11,West Brom,38,12,11,15,56,71,-15,47
11,12,Newcastle,38,11,13,14,56,57,-1,46
12,13,Stoke,38,13,7,18,46,48,-2,46
13,14,Bolton,38,12,10,16,52,56,-4,46
14,15,Blackburn,38,11,10,17,46,59,-13,43
15,16,Wigan,38,9,15,14,40,61,-21,42
16,17,Wolves,38,11,7,20,46,66,-20,40
17,18,Birmingham,38,8,15,15,37,58,-21,39
18,19,Blackpool,38,10,9,19,55,78,-23,39
19,20,West Ham,38,7,12,19,43,70,-27,33

In [11]:
all_season = [epl_2010_11_df,
epl_2011_12_df ,
epl_2012_13_df ,
epl_2013_14_df ,
epl_2014_15_df ,
epl_2015_16_df ,
epl_2016_17_df ,
epl_2017_18_df ,
epl_2018_19_df ,
epl_2019_20_df 
]

In [15]:
from functools import reduce 

all_season_df = reduce(lambda left, right:
                     pd.merge(left , right,
                              on = ["Club"],
                              suffixes=('10_11',
                                        '11_12'),
                              how = "outer"),
                     all_season)

C:\Users\A.M. MUKTAR\AppData\Local\Temp\ipykernel_13744\1760393719.py:4: FutureWarning: Passing 'suffixes' which cause duplicate columns {'GoalDiff10_11', 'Wins10_11', 'Position10_11', 'GoalsConceded10_11', 'GoalsScored10_11', 'Matches10_11', 'Losses10_11', 'Points10_11', 'Draws10_11'} in the result is deprecated and will raise a MergeError in a future version.
  pd.merge(left , right,
C:\Users\A.M. MUKTAR\AppData\Local\Temp\ipykernel_13744\1760393719.py:4: FutureWarning: Passing 'suffixes' which cause duplicate columns {'GoalDiff10_11', 'Wins10_11', 'Position10_11', 'GoalsConceded10_11', 'GoalsScored10_11', 'Matches10_11', 'Losses10_11', 'Points10_11', 'Draws10_11'} in the result is deprecated and will raise a MergeError in a future version.
  pd.merge(left , right,
C:\Users\A.M. MUKTAR\AppData\Local\Temp\ipykernel_13744\1760393719.py:4: FutureWarning: Passing 'suffixes' which cause duplicate columns {'GoalDiff10_11', 'Wins10_11', 'Position10_11', 'GoalsConceded10_11', 'GoalsScored10_11', 'Matches10_11', 'Losses10_11', 'Points10_11', 'Draws10_11'} in the result is deprecated and will raise a MergeError in a future version.
  pd.merge(left , right,
C:\Users\A.M. MUKTAR\AppData\Local\Temp\ipykernel_13744\1760393719.py:4: FutureWarning: Passing 'suffixes' which cause duplicate columns {'GoalDiff10_11', 'Wins10_11', 'Position10_11', 'GoalsConceded10_11', 'GoalsScored10_11', 'Matches10_11', 'Losses10_11', 'Points10_11', 'Draws10_11'} in the result is deprecated and will raise a MergeError in a future version.
  pd.merge(left , right,

In [18]:
all_season_df.to_csv("C:/Users/A.M. MUKTAR/Documents/epldat10seasons/Dataset/full_10_season.csv")